@page
@model ASP.NetCoreWebApp.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Surename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Surename)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id" class="btn btn-dark">Edit</a> |
    <a asp-page="./Index" class="btn btn-info">Back to List</a>
</div>