@page
@model ASP.NetCoreWebApp.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Surename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Person)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surename)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>